a{
  text-decoration: none;
}

nav a{
  color: #E15225;
  font-weight: bold;
  font-size: 2.5rem;
}

nav{
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  justify-content: space-between;
}

.left-nav, .right-nav{
  display: flex;
  align-items: center;
}

.left-nav a:not(:first-child){
  margin-left: 1.5rem;
}

.right-nav a:first-child{
  margin-right: 1.5rem;
}

#main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.mission{
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: medium;
  width: 55rem;
}

.highlight{
  color: #E15225;
}