.log-in-container { 
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 50px;
    border-radius: 25px;
    background-color: rgb(255, 222, 170);

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#email { 
    margin-bottom: 10px;
    /* border: solid; */
}

#email input { 
    font-family: "Ga Maamli", sans-serif;
    padding: 5px 20px 5px 3px;

}

#password { 
    margin-bottom: 10px;
}

#password input { 
    font-family: "Ga Maamli", sans-serif;
    padding: 5px 20px 5px 3px;

}

#create-btn { 
    margin-top: 10px;
    font-family: "Ga Maamli", sans-serif;
    padding: 5px 5px 5px 5px;
    border-radius: 25px;
    background-color: rgb(237, 147, 114);


}

body { 
    font-family: "Ga Maamli", sans-serif;
    background-color: rgb(195, 195, 195);
}