html{
    background-color: #EEEEEE;
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: "Josefin Sans";
}

img{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.secondary-logo{
    margin-top: -80px;
    margin-bottom: 30px;
}

.container-header{
    width: 550px;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #043539;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-header p{
    font-size: 40px;
    color: white;
}
.log-in-container{
    width:550px;
    height:525px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.log-in-container div{
    display:flex;
    flex-direction: column;
}
label{
    margin-left: 5px;
    font-size:30px;
    color: #6D6D6D;
    margin-bottom: 10px;
}
input{
    width:470px;
    height:50px;
    background-color: #DFD9D9;
    border-radius:60px;
    border:none;
    margin-left:auto;
    margin-right:auto;
    padding: 5px 15px;
    font-size:15px;
}

input:focus{
    outline: none;
}

.log-in-container > *{
    display:flex;
    flex-direction:row;
    color:black;
    top: 30px;
    position:relative;
    margin-top:20px;
}

.solid{
    border-top: 180px solid;
    display:flex;
    width: 100px; /* Adjust the width as needed */
    border: 1px solid #6D6D6D; /* Thin border for the horizontal rule */
    margin-left: 15px;
    margin-right: 15px;
}
span p{
    font-size: 30px;
}
#divider{
    position:relative;
    top: 60px;
}

.log-in-container button{
    width:400px;
    height:60px;
    border-radius:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    background-color: #043539;
    color:white;
    font-size: 30px;
    margin-top: 90px;
}

.log-in-container button:hover{
    background-color: #032326;
    cursor:pointer;
}