nav{
    background-color: #64A587;
    width: 100%;
    height: 100px;
}
body{
    margin: 0;
    padding: 0;
}

#profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    width: 80%;
}

#pfp{
    border-radius: 50%;
    margin-top: -7%;
    margin-right: 55%;
    width:13%;
    border: 5px solid white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #64A587;
    font-weight: 700;
}